* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  /* font-family: "Figtree", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "geomanist"; */
  /* font-family: "Metropolis"; */


}
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: "geomanist";
  src: url("./geomanist.ttf");
}
@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis.otf");
}
